@media screen and (max-width:576px) {
    * {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    body {
        padding: 1em;
        margin: 1em;
     }
    h1 {
        font-size: 40px;
        text-align: center;
}
    .alert-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: skyblue;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid grey;
    }
    .hidden-on-desktop a {
        color: black;
        text-decoration: none;
    }
    .nav-links li {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: lightgrey;
        padding: 2px;
        margin: 10px auto;
    }
    .header-img img{
        width: auto;
        max-width: 100%;
        height: auto;
    }
    section {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
    }
    h2 {
        font-size: 20px;
        padding: .1em;
        margin: .1em;
        text-align: left;
    }
    .main, .sub-section {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .sub-section {
        font-style: italic;
    }



}
@media screen and (min-width: 577px) {

    h1 {
        font-size: 20px;
        float: left;
    }
    .hidden-on-desktop {
        display:none;
    }
    nav {
        float: right;
    }
    .nav-links {
        /*float: right;*/
        display: flex;
        flex-direction: row;
        /*align-content: flex-end;*/
        justify-content: space-between;
        /*text-align: center;*/
        list-style-type: none;
        /*padding: 2px;*/
        /*margin: 10px auto;*/
    }
    .header-img img{
        width: auto;
        max-width: 100%;
        height: auto;
    }
    /*section {*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*    width: 0 auto;*/
    /*    height: auto;*/
    /*}*/
    section {
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: space-between;*/
        /*align-content: center;*/
    }
    .main {
        /*display: flex;*/
        /*flex: grow 2;*/
        /*padding: auto;*/
        /*margin: auto;*/
        float: left;
        width: 70%;
        /*height: 100px;*/
        /*margin: 10px;*/
    }
    .sub-section {
        /*padding: auto;*/
        /*margin: auto;*/
        /*display: flex;*/
        float: right;
        width: 30%;
        /*height: 100px;*/
        /*margin: 10px;*/
    }
    footer {
    /**/
    }
}


#social-media-links {

}
