@media screen and (max-width:576px) {
    * {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    body {
        padding: 1em;
     }
    h1 {
        font-size: 40px;
        text-align: center;
}
    .alert-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: skyblue;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid grey;
    }
    .hidden-on-desktop a {
        color: black;
        text-decoration: none;
    }
    .nav-links li {
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: lightgrey;
        padding: 2px;
        margin: 10px auto;
    }
    .header-img {
        width: auto;
        max-width: 100%;
        height: auto;
    }
    section {
        display: flex;
        flex-wrap: wrap;
        width: 0 auto;
        height: auto;
    }

    footer {
        display: flex;

        position: absolute;
        bottom: 0;
    }
}
@media screen and (min-width: 900px){
    * {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    .hidden-on-desktop {
        display: hidden;
    }
}

.hidden-on-desktop {

}


.main {

}
.sub-section {

}

#social-media-links {

}
